<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Good Scary &bull; Web &amp; iOS &bull; Design &amp; Development</title>
  <meta name="description" content="Consulting, Products and Application Design/Development for iOS &amp; Web">

  <link rel="author" href="humans.txt" />

  <link rel="apple-touch-icon-precomposed" href="/images/favicon-152.png">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-TileImage" content="/images/favicon-144.png">
  <meta name="application-name" content="">

  <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"> -->

  <link href='http://fonts.googleapis.com/css?family=Lora:400italic,400' rel='stylesheet' type='text/css'>
  <%= css :application %>
</head>

<body>
  <div class="container">

    <!--[if lte IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <header role="banner">
      <p>Need a mobile app but all you have is a budget &amp; an idea?</p>
      <p>Want to save money by replacing spreadsheets with something more robust?</p>
      <p>Looking to make sure an existing development team are headed in the right direction?</p>
      <p><i>We understand. We make solving those problems awesome not&#160;terrifying.</i></p>
      <a id="emailus" href="mailto:andycroll@deepcalm.com"><span>email&#160;us</span></a>
    </header>

    <section role="main">
      <p>You want someone to cut through the jargon, help you save money or review work that you&rsquo;re already paying for. We&rsquo;ve got the experience, skill &amp; clear communication to&#160;help.</p>
      <p>Whether for iOS or on the web, we have the <em>design &amp; development</em> experience to help you solve your problems.</p>
      <article>
        <h2>ImpulseFlyer</h2>
        <p>We led the team that built and maintained the slick luxury hotel e-commerce site. And a #1 ranking iOS app.</p>
      </article>
      <article>
        <h2>Viki</h2>
        <p>Worked as part of the team that rebuilt the international video site from the ground up and launched to 8 million users with zero downtime.</p>
      </article>
      <article>
        <h2>Today&rsquo;s News</h2>
        <p>Conjured and designed an iOS app providing a pure offline reading interface to the Guardian&rsquo;s daily paper.</p>
      </article>
      <p>And we make our own stuff&#160;too.</p>
      <article>
        <h2>Movies UK</h2>
        <p>An iOS app that consolidates all the UK&rsquo;s cinema networks so you can find out where to watch the latest movies.</p>
      </article>
    </section>

    <footer role="contentinfo">
    </footer>
  </div>

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '50f6f8c3f5a1f550db000010');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>

</html>
